:root {
    --red: #f07167;
    --red-dark: #e9594e;
    --orange: #fed9b6;
    --rice: #fdfcdc;
    --cyan: #00afb9;
    --blue: #0081a7;
    --gray-light: #aaaaaa;
    --gray-dark: #666666;
    --white: #efefef;
}
