:root {
    --red: #f07167;
    --red-dark: #e9594e;
    --orange: #fed9b6;
    --rice: #fdfcdc;
    --cyan: #21d3b5;
    --cyan-dark: #1d9e7e;
    --blue: #1296be;
    --blue-dark: #006b8b;
    --green: #59d47e;
    --green-dark: #2ba34f;
    --gray-light: #aaaaaa;
    --gray-dark: #666666;
    --white: #efefef;
}
